*{
    margin: 0;
    font-optical-sizing: auto;
}

body {
    background-color: #DDD0C8;
}

.header {
    background-color: #e5bb89;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: auto;
}

.logo {
    height: 70px;
    width: auto;
}

.aNav {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    display: inline-block;
    padding: 12.75px 25px;
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: whitesmoke;
    background-color: brown;
    transition: color 0.25s ease;
    transition: all 0.25s ease;
    border-radius: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(95, 15px);
    grid-template-rows: repeat(95, 15px);
    gap: 1px;
    margin-top: 20px;
}

.celula {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid black;
}

.celula.alive {
    background-color: black;
}

.celula:active {
    transform: scale(1.2);
}

.numGen {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.boton {
    border: none;
    color: whitesmoke;
    background-color: brown;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
}

.boton.inactivo {
    background-color: gray;
}

.boton:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.boton:active {
    transform: scale(0.9);
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 1%; /* Espacio entre columnas */
    justify-content: space-around;
}

.columna {
    padding: 20px;  /* margen dentro de la caja */
    box-sizing: border-box;
    height: 30vh;
    background-size: cover;
    display: flex; /* Para que los elementos internos sigan usando flex si es necesario */
    flex-direction: column;
    align-items: center;
}


.tituloReglas {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 5%;
}

.tituloJuego {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 3em;
    margin: 5%;
}

.tituloPatrones {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 3em;
    margin: 5%;
    text-align: center;
}

.textoReglas {
    font-family: "Quicksand", sans-serif;
}

.imagenRegla {
    height: 150px;
    width: auto;
    margin: 2%;
    justify-content: center; /* Centrar verticalmente */
    align-items: flex-start; /* Alinear horizontalmente a la izquierda */ 
    left: 0; /* Alinea la imagen a la izquierda */
}

.a {
    padding: 30px;
}