*{
    margin: 0;
    font-optical-sizing: auto;
}

body {
    background-color: #DDD0C8;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 2%; /* Espacio entre columnas */
    justify-content: space-around;
}

.columna {
    padding: 30px;  /* margen dentro de la caja */
    box-sizing: border-box;
    height: auto;
    background-size: cover;
    display: flex; /* Para que los elementos internos sigan usando flex si es necesario */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.tituloReglas {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 5%;
}

.tituloJuego {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 3em;
    margin: 5%;
}

.seccionExplicacion {
    padding: 30px;
}

.textoReglas{
    font-family: "Quicksand", sans-serif;
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 1.5em;
}

.imagenRegla {
    height: auto;
    width: 100%;
    margin: 2%;
    justify-content: center; /* Centrar verticalmente */
    align-items: flex-start; /* Alinear horizontalmente a la izquierda */ 
    left: 0; /* Alinea la imagen a la izquierda */
}